<html>
  <head>
  </head>

  <body>
  <% if (name) { %>
    Hello <%= name %>
  <% } else { %>
    Hello world
  <% } %>

  <form action="/" method="post">
    <input name="name" type="text">
    <input type="submit" value="submit">
  </form>

  <% api.items.forEach(function(item){ %>
    <%= item.login  %> 
  <% }); %>

  </body>

</html>